.console-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.console {
  width: 85vw;
  margin: auto;
  height: 600px;
  margin-bottom: 100px;
  padding: 10px;
  color: white;
  overflow-y: auto;
  background-color: black;
}

.next-up {
  width: 60px;
  height: 30px'
}